* {
    color: ghostwhite;
    background : plum;
    text-align: center;
}

div#face {
	width: 40vw;
	height: 40vw;
	margin: 0 auto;
	position: relative;
	background: none;
  margin-top: 2rem;
}
div#face, div#face * { 
	border-radius: 50%;
}
.eye {
	width: 25%;
	height: 25%;
	background: #fff;
	position: absolute;
	top: 20%;
}
.left.eye { left: 20%; }
.right.eye { right: 20%; }
.pupil { 
	background: #000;
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	transform-origin: bottom;
}